<ion-header>
  <ion-toolbar>
    <ion-back-button> </ion-back-button>
    <ion-title>Add a New Rental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> 
    <ion-item>
      <ion-input type="text" placeholder="Rental Name"> </ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Location"> </ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="number" placeholder="Price Per Night (USD)"> </ion-input>
    </ion-item>
    
    <ion-button (click)="navBackExistingRentals()"> Done </ion-button>
  </ion-list>

</ion-content>