<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label> First Name </ion-label>
      <ion-input [(ngModel)]="owner.firstname"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Last Name </ion-label>
      <ion-input [(ngModel)]="owner.lastname"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Email </ion-label>
      <ion-input [(ngModel)]="owner.email"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Password </ion-label>
      <ion-input [(ngModel)]="owner.password"> </ion-input>
    </ion-item>
  </div>

  <ion-button expand="full" (click)="submit()"> Submit </ion-button>
</ion-content>