<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="First Name" type="text" [(ngModel)]="owner.firstName"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Last Name" type="text" [(ngModel)]="owner.lastName"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Email" type="text" [(ngModel)]="owner.email"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="owner.password"> </ion-input>
    </ion-item>
  </div>

  <ion-button expand="full" (click)="submit()"> Submit </ion-button>
</ion-content>