<ion-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        
        <div text-center>
          <h4>Login to Airbnb Provider</h4>
        </div>

        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="email"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button expand="full" (click)="login()"> Login </ion-button>
        </div>

        <div padding>
          <h4 text-center> New Provider? </h4>
          <ion-button expand="full" (click)="navToRegistration()"> Register </ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>