.review-label {
    padding-left: 15px;
}

.review-text {
    padding-left: 10px;
}

.review-name {
    padding-left: 10px;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}

.text{
    display: inline-block;
    vertical-align: middle;
    color: #989aa2;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;
  }